ml-collections
tensorflow-gan==2.1.0
tensorflow_io
tensorflow_datasets==4.9.2
tensorflow==2.12.0
tensorflow-addons==0.20.0
tensorboard==2.12.3
absl-py
torch==2.0.1+cu118
torchvision==0.15.2+cu118
ninja
jax==0.4.9
jaxlib==0.4.9+cuda11.cudnn86